# Python
backend/.venv/
**/__pycache__/
*.pyc

# Secrets
backend/.env
frontend/.env
.env
.env.*

# Keep examples
!.env.example

# React
frontend/node_modules/
frontend/dist/

# Vercel
.vercel/

# IDE
.idea/
.vscode/